<app-header></app-header>
<main class="main">
  <div class="main-button">
    <button (click)="addAnnouncement()" mat-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngIf="announcements.length; else empty">
    <app-announcement-item
      (onShowSimilar)="showSimilarAnnouncements($event)"
      (onDelete)="deleteAnnouncement($event)"
      (onEdit)="editAnnouncement($event)"
      *ngFor="let announcementItem of tempAnnouncements"
      [announcementItem]="announcementItem"
    ></app-announcement-item>
  </div>
  <div
    class="main-empty"
    *ngIf="!tempAnnouncements.length && announcements.length"
  >
    No announcement with such title :(
  </div>
  <ng-template #empty>
    <div class="main-empty">
      Yor announcements list is empty. You can create new announcement!
    </div>
  </ng-template>
</main>
