<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <h2 mat-dialog-title>Edit announcement</h2>
  <mat-dialog-content class="mat-typography">
    <h3 *ngIf="form.invalid">Fill all fields</h3>
    <h3 *ngIf="!hasChange">You have not changed any fields</h3>
    <div class="form-input">
      <label for="title">Title</label>
      <input id="title" type="text" formControlName="title" />
    </div>
    <div class="form-input">
      <label for="description">Description</label>
      <input id="description" type="text" formControlName="description" />
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      mat-button
      color="primary"
      [mat-dialog-close]="true"
      cdkFocusInitial
      type="submit"
      [disabled]="form.invalid || !hasChange"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
