@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --blue-color: #50869a;
  --light-green-color: #aebdaa;
  --dark-font-color: #212e26;
  --bg-color: #ebe7e7;
  --dangare: #f36666;
  --text-shadow: 1px 1px 2px #494a5d;
  --box-shadow: 0 1px 3px #343232;
  --box-shadow-hover: 0 2px 5px #343232;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--bg-color);
  width: 100px;
  height: 40px;
  border: 1px solid var(--dark-font-color);
  box-shadow: var(--box-shadow);
  margin: 5px;
  &:hover {
    box-shadow: var(--box-shadow-hover);
  }
}

.form {
  &-input {
    height: 50px;
    color: var(--blue-color);
    display: flex;
    flex-direction: column;
    input {
      height: 30px;
      font-size: 24px;
    }
  }
}
